{% extends "base_bs.html" %}
{% load comments %}
{% load persona_name %}

{% block container %}
<div class="row">
  <div class="span6 offset3">
    <h1>
    {% if user.is_authenticated %}
    <span class="pull-right" id="outer_bookmark">
      {% if object in user.get_profile.fav_recipes.all %}
	<i class="icon-bookmark" id="bookmark"></i>
	{% else %}
	<i class="icon-bookmark-empty" id="bookmark"></i>
	{% endif %}
    </span>
    {% endif %}
      {{ object.name }}
    </h1>
    <h5>
      {% if perms.recipes.add_recipe %}
      <span class="pull-right">
	<a href="/admin/recipes/recipe/{{object.id}}/"><i class="icon-edit"></i></a>
      </span>
      {% endif %}
      From <em>{{object.origin}}</em>
    </h5>
  </div>
  <div class="span2 social">
    <span id="pin_it">
      <a href="http://pinterest.com/pin/create/button/?url={{ request.get_host|urlencode}}/{{ object.build_absolute_uri|urlencode }}&media={% if object.foodpicture_set.all %}{{ object.foodpicture_set.all.0.img_address|urlencode }}{% else %}http%3A%2F%2Ffarm9.staticflickr.com%2F8054%2F8112928661_489e902962.jpg{% endif %}&description={{ object.name|urlencode }}%20from%20Family%20Recipes" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
    </span>
  </div>
</div>

<div class="row">
  
  <div class="span8 offset2">
    <div class="row">
      <div class="span3">
	<h3>Ingredients:</h3>
	<ul style="padding:0px;margin:0px;list-style-position:inside;" id="ing-list">
	  {% for ingredient in object.recipeingredient_set.all %}
	  <li data-ing="{{ ingredient.ingredient.name }}"
	      data-amt="{{ ingredient.amount }}"
	      data-unit="{{ ingredient.unit }}">
            {{ ingredient }}
          </li>
	  {% endfor %}
	</ul>
      </div>
      <div class="span5" id="directions">
	<h3>
	  <button class="btn btn-mini pull-right" id="change-view">Change View</button> 
	  Directions:
	</h3>
	<div id="traditional">
	  <ol style="padding:0px;margin:0px" >
	    {% for instruction in object.instructionstep_set.all %}
	    <li> {{ instruction }}</li>
	    {% endfor %}
	  </ol>
	</div>
	<div id="one-by-one" style="display:none">
	  <ul class="nav nav-tabs">
	  {% for instruction in object.instructionstep_set.all %}
	  <li {% if forloop.first %}class="active"{% endif %}>
	    <a href="#step-{{ forloop.counter }}"
	       data-toggle="tab">
	      Step {{ forloop.counter }}
	    </a>
	  </li>	  
	  {% endfor %}
	  </ul>
	  <div class="tab-content">
	    {% for instruction in object.instructionstep_set.all %}
	    <div class="tab-pane{% if forloop.first %} active{% endif %}"
		 id="step-{{ forloop.counter }}">
	      <p class="lead">{{ instruction }}</p>
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>

    <div class="row">
      <hr />
      <div class="span3">
	<div class="well">
	  <h4>Nutrition Information</h4>
	  <ul>
	    {% with nut_info=object.nutrition %}
	    <li>Servings: {{object.servings}}</li>
	    <li>Serving Size: {{ nut_info.weight }}g</li>
	    <li>Calories: {{ nut_info.calories }}</li>
	    <li>Carbohydrate: {{ nut_info.carbohydrate }}g</li>
	    <li>Protein: {{ nut_info.protein }}g</li>
	    <li>Fat: {{ nut_info.fat }}g</li>
	    {#<li>Errors: {{ nut_info.errors|linebreaks }}</li>#}
	    {% endwith %}
	  </ul>
	</div>
      </div>
    <div class="span5">
      {% if object.foodpicture_set.all %}
      <div>
	<ul class="thumbnails">
	  {% for picture in object.foodpicture_set.all %}
	  {% if forloop.first %}
	  <li class="span3">
            {% else %}
	  <li class="span2">
	    {% endif %}
	    <a href="{% if picture.link_address %}{{picture.link_address}}{% else %}{{ picture.img_address }}{% endif %}" class="thumbnail">
	      <img src="{{picture.img_address}}" 
		   alt="{{object.name}}-{{forloop.counter}}" />
            </a>
	  </li>
	  {% if forloop.counter == 3 and not forloop.last %}
	</ul>
      </div>
      <h5 data-toggle="collapse"
	  data-target="#extra-pics">
	<i class="icon-plus-sign"></i> More Pictures
      </h5>
      <div class="collapse" id="extra-pics">
	<ul class="thumbnails">
	  {% endif %}
	  {% endfor %}
	</ul>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      <div>
	<button class="btn btn-small" data-toggle="collapse" data-target="#picture-form">
	  <i class="icon-plus-sign"></i> Add a Picture
	</button>
	<div id="picture-form" class="collapse">
	  <form action="picture/" method="POST">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <p>
	      <button class="btn btn-primary" type="submit" name="submit" value="Post">
		Add
	      </button>
	    </p>
	  </form>
	</div>
      </div>
      {% endif %}
    </div>
    </div>
    <div class="row">
      <hr />
      <div class="span5">
      <h5>Comments:</h5>
      {% get_comment_list for object as comment_list %}
      {% for comment in comment_list %}
      {% with comment.user as commenter %}
      <div class="well">
	<p>
	  {{ comment.comment }}
	</p>
	<p class="pull-right">
	  {% if commenter.first_name or commenter.last_name %}
          {{commenter.first_name}} {{commenter.last_name}}, 
	  {% else %}
          {{commenter.username|shortname}}, 
	  {% endif %}
	  <em>{{comment.submit_date|date:"M j, Y"}}</em>
	</p>
      </div>
      {% endwith %}
      {% empty %}
      <p>
	No comments yet.{% if user.is_authenticated %} Be the first to add one!{% endif %}
      </p>
      {% endfor %}
      </div>
      {% if user.is_authenticated %}
      <div class="span3">
      {% get_comment_form for object as form %}
      <form action="{% comment_form_target %}" method="post">
	<legend>Add a Comment</legend>
	{% csrf_token %}
	{% for field in form %}
	{% if field.is_hidden %}
	<div>{{ field }}</div>
	{% elif field.name in "nameemailurl" %}
	<div style="display:none">
	  {{ field }}
	</div>
	{% else %}
	{% if field.errors %}{{ field.errors }}{% endif %}
	<p
           {% if field.errors %} class="error"{% endif %}
           {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
	</p>
	{% endif %}
	{% endfor %}


	<input type="hidden" name="next" value="{{ request.get_full_path }}" />        
	<button class="btn btn-primary" type="submit" name="submit" value="Post">Post</button>
        <button class="btn" type="submit" name="preview" value="Preview">Preview</button>
      </form>
      </div>
      {% else %}
      Only registered users may comment.  
      <br />
      <a href="#" id="persona_login_sub">
        <img src="{{ STATIC_URL }}img/email_sign_in_black.png" />
      </a>
      {% endif %}
    </div>
  </div>
  
</div>
{% endblock container %}

{% block custom_script %}
<script>
$(document).ready(function() {
  $.ajaxSetup({
    crossDomain: false,
    beforeSend: function(xhr, settings) {
        if (/^(POST|PUT|DELETE)$/.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
    }
  });
  $("#persona_login_sub").on("click", function() {
    $("#persona_login").trigger("click");
  });
  $("#outer_bookmark").on("click",function(event) {
    var method_type = "PUT";
    var cur_icn = $(this).children("i").first();
    if (cur_icn.hasClass("icon-bookmark")) {
      method_type = "DELETE";
    };
    $.ajax({
      type: method_type,
      data: { key: "val" },
      url: "/recipes/fav/{{object.slug}}/"
    }).done(function() {
      cur_icn.toggleClass("icon-bookmark icon-bookmark-empty");
    });

  });
  $("#change-view").on('click', function(event) {
      $("#directions").children("div").slideToggle( function() {
	  if (!$("#one-by-one").is(":hidden")) {
	      var first_text = $("#one-by-one .tab-content .active").text();
	      highlight_ings(first_text);
	  } else {
	      highlight_ings('');
	  };
      });
  });

  var highlight_ings = function(text) {
      var ing_list = $("#ing-list");
      $('strong',ing_list).contents().unwrap();
      $('em',ing_list).contents().unwrap();
      ing_list.children().each(function(idx, elt) {
	  var ing_list = $(elt).data('ing').split(/[^\w]+/);
	  for (var i=0, len=ing_list.length; i < len; i++) {
	      if (text.search(ing_list[i]) > 0) {
		  $(this).wrapInner("<strong />").wrapInner("<em />");
		  break;
	      };
	  };
      });
  };

  $('a[data-toggle="tab"]').on('shown',function(event) {
      var step_text = $($(event.target).attr("href")).text();
      highlight_ings(step_text);
  });
});
</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock custom_script %}
